@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    justify-content: center;
    font-family: "Roboto";
}
body{
    width: 700px;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(1, 68, 107) 0%, rgba(4,4,74,1) 100%, rgba(0,212,255,1) 100%);
    margin-bottom: 10%;
}
button{
    width: 80px;
    height: 80px;
    background: none;
    border: none;
    float: left;
}

#Pasek{
    width: 300px;
    height: 80px;
    margin-top: 2.5%;
    margin-left: 55.75%;
}

button img{
    width: 80px;
    height: 80px;
}

.Stop{
    width: 80px;
    height: 80px;
    content: url('./image/stop.png');
}

#Stacja{
    width: 250px;
    height: 250px;
    margin-left: 42.5%;
    text-align: center;
    clear: both;
    color: white;
    margin-top: -2%;
}

#imgStacja{
    width: 175px; 
    height: 175px;
}

#glos{
    margin-top: 9%;
    margin-left: 23%;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%; 
    height: 15px; 
    background: linear-gradient(to right, rgba(6,223,23,1) 50%, grey 50%);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#volume{
    color: white;
    margin-top: -5.5%;
    margin-bottom: 2%;
}

#mute {
    width: 80px;
    height: 80px;
    margin-left: 7%;
    margin-top: 4.5%;
}

#mute img{
    width: 80px;
    height: 80px;
}

.muted{
    content: url('./image/Muted.png');
}

#back{
    margin-left: -30%;
}

#next{
    margin-left: 3%;
}

#czas{
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-top: -7.5%;
}

.screensaver{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 1s;
}

#schedule{
    margin-top: -25%;
    margin-left: 6%;
}

#btnschedule{
    float: none;
}

#schedule button img{
    width: 80px;
    height: 80px;
}

#popup{
    opacity: 1;
    width: 150px;
    height: 105px;
    background: linear-gradient(90deg, rgb(1, 68, 107) 0%, rgba(4,4,74,1) 100%, rgba(0,212,255,1) 100%);
    transition: opacity 1s;
    border-radius: 8px;
}

.hiden{
    opacity: 0 !important;
}

#muteTime, #startTime{
    color-scheme: dark;
}

#popup button{
    float: none !important;
    width: 40px;
    height: 15px;
    background: gray;
    border-radius: 2px;
}

#ide8b3750ec2d3c .wlSource{
    display: none !important;
}
